.main {
	&__contact {		
		&:not(:last-of-type) {
			margin-right: 60px;
		}
	}

	&__footer {
		border-top: 1px solid #4D515E;
		padding: 30px 0 115px;
		color: $light;
		display: flex;
	}

	&__header {
		height: 350px;
		position: relative;
		max-width: 785px;
		color: $white;
		display: flex;
		align-items: center;
		margin-bottom: 85px;
		
		h1 {
			z-index: 10;
		}

		&::before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			width: 385px;
			border: 7px solid $red;
			box-sizing: border-box;
		}
	}

	&__phone {
		font-weight: bold;
		font-size: 16px;
	}
}