$light: #C8CDD8;
$light-bg: #E3E5EA;
$white: #FFFFFF;
$dark: #2B2D33;
$dark-hover: #444853;
$red: #6C525B;
$red-hover: #846A73;

$gray1: #2B2D33;
$gray2: #585E67;
$gray3: #AEB2BA;

$border-line: #BDC4CF;